# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=2_gnu
abseil-cpp=20210324.2=h9c3ff4c_0
absl-py=1.0.0=pyhd8ed1ab_0
aiohttp=3.8.1=py38h0a891b7_1
aiosignal=1.2.0=pyhd8ed1ab_0
anndata=0.8.0=pypi_0
argon2-cffi=21.3.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
asttokens=2.0.5=pypi_0
astunparse=1.6.3=pyhd8ed1ab_0
async-timeout=4.0.2=pyhd8ed1ab_0
attrs=21.4.0=pyhd8ed1ab_0
backcall=0.2.0=pypi_0
beautifulsoup4=4.11.1=pypi_0
bleach=5.0.0=pypi_0
blinker=1.4=py_1
blosc2=2.0.0=pypi_0
brotlipy=0.7.0=py38h0a891b7_1004
c-ares=1.18.1=h7f98852_0
ca-certificates=2022.5.18.1=ha878542_0
cached-property=1.5.2=hd8ed1ab_1
cached_property=1.5.2=pyha770c72_1
cachetools=5.0.0=pyhd8ed1ab_0
certifi=2022.5.18.1=py38h578d9bd_0
cffi=1.14.4=py38ha312104_0
charset-normalizer=2.0.12=pyhd8ed1ab_0
click=8.1.3=py38h578d9bd_0
cloudpickle=2.1.0=pypi_0
cmake=3.18.4=pypi_0
cryptography=37.0.2=py38h2b5fc30_0
cudatoolkit=11.7.0=hd8887f6_10
cudnn=8.2.1.32=h86fa8c9_0
cycler=0.11.0=pypi_0
cython=0.29.33=pypi_0
debugpy=1.6.0=pypi_0
decorator=5.1.1=pypi_0
defusedxml=0.7.1=pypi_0
dm-tree=0.1.7=pypi_0
einops=0.6.0=pypi_0
entrypoints=0.4=pypi_0
executing=0.8.3=pypi_0
fastcluster=1.2.6=pypi_0
fastjsonschema=2.15.3=pypi_0
fonttools=4.33.3=pypi_0
frozenlist=1.3.0=py38h0a891b7_1
ftfy=6.1.1=pypi_0
gast=0.5.3=pyhd8ed1ab_0
gensim=4.2.0=pypi_0
giflib=5.2.1=h36c2ea0_2
google-auth=2.6.6=pyh6c4a22f_0
google-auth-oauthlib=0.4.6=pyhd8ed1ab_0
google-pasta=0.2.0=pyh8c360ce_0
grpc-cpp=1.43.2=h9e046d8_3
grpcio=1.43.0=py38hdd6454d_0
h5py=3.6.0=nompi_py38hfbb2109_100
hdf5=1.12.1=nompi_h2386368_104
icu=70.1=h27087fc_0
idna=3.3=pyhd8ed1ab_0
igraph=0.10.4=pypi_0
importlib-metadata=4.11.4=py38h578d9bd_0
importlib-resources=5.7.1=pypi_0
ipykernel=6.13.0=pypi_0
ipython=8.4.0=pypi_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=7.7.0=pypi_0
jedi=0.18.1=pypi_0
jinja2=3.1.2=pypi_0
joblib=1.1.0=pypi_0
jpeg=9e=h166bdaf_1
jsonschema=4.5.1=pypi_0
jupyter=1.0.0=pypi_0
jupyter-client=7.3.1=pypi_0
jupyter-console=6.4.3=pypi_0
jupyter-core=4.10.0=pypi_0
jupyterlab-pygments=0.2.2=pypi_0
jupyterlab-widgets=1.1.0=pypi_0
keras=2.8.0=pyhd8ed1ab_0
keras-preprocessing=1.1.2=pyhd8ed1ab_0
keyutils=1.6.1=h166bdaf_0
kiwisolver=1.4.2=pypi_0
krb5=1.19.3=h3790be6_0
ld_impl_linux-64=2.36.1=hea4e1c9_2
libblas=3.9.0=14_linux64_openblas
libcblas=3.9.0=14_linux64_openblas
libcurl=7.83.1=h7bff187_0
libedit=3.1.20191231=he28a2e2_2
libev=4.33=h516909a_1
libffi=3.2.1=he1b5a44_1007
libgcc-ng=12.1.0=h8d9b700_16
libgfortran-ng=12.1.0=h69a702a_16
libgfortran5=12.1.0=hdcd56e2_16
libgomp=12.1.0=h8d9b700_16
liblapack=3.9.0=14_linux64_openblas
libnghttp2=1.47.0=h727a467_0
libopenblas=0.3.20=pthreads_h78a6416_0
libpng=1.6.37=h21135ba_2
libprotobuf=3.19.4=h780b84a_0
libssh2=1.10.0=ha56f1ee_2
libstdcxx-ng=12.1.0=ha89aaad_16
libzlib=1.2.12=h166bdaf_0
llvmlite=0.39.0=pypi_0
louvain=0.8.0=pypi_0
markdown=3.3.7=pyhd8ed1ab_0
markupsafe=2.1.1=pypi_0
matplotlib=3.5.2=pypi_0
matplotlib-inline=0.1.3=pypi_0
mistune=0.8.4=pypi_0
msgpack=1.0.5=pypi_0
multicoretsne=0.1=pypi_0
multidict=6.0.2=py38h0a891b7_1
natsort=8.3.1=pypi_0
nbclient=0.6.4=pypi_0
nbconvert=6.5.0=pypi_0
nbformat=5.4.0=pypi_0
nccl=2.12.12.1=h0800d71_0
ncurses=6.3=h27087fc_1
nest-asyncio=1.5.5=pypi_0
networkx=2.8.4=pypi_0
notebook=6.4.11=pypi_0
numba=0.56.0=pypi_0
numexpr=2.8.4=pypi_0
numpy=1.22.4=py38h99721a1_0
oauthlib=3.2.0=pyhd8ed1ab_0
openssl=1.1.1o=h166bdaf_0
opt_einsum=3.3.0=pyhd8ed1ab_1
packaging=21.3=pypi_0
pandas=1.5.3=pypi_0
pandocfilters=1.5.0=pypi_0
parso=0.8.3=pypi_0
patsy=0.5.2=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=9.1.1=pypi_0
pip=22.1.2=pyhd8ed1ab_0
prometheus-client=0.14.1=pypi_0
prompt-toolkit=3.0.29=pypi_0
protobuf=3.19.4=py38h709712a_0
psutil=5.9.1=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.2=pypi_0
py-cpuinfo=9.0.0=pypi_0
pyasn1=0.4.8=py_0
pyasn1-modules=0.2.7=py_0
pycparser=2.21=pyhd8ed1ab_0
pygments=2.12.0=pypi_0
pyjwt=2.4.0=pyhd8ed1ab_0
pynndescent=0.5.7=pypi_0
pyopenssl=22.0.0=pyhd8ed1ab_0
pyparsing=3.0.9=pypi_0
pyrsistent=0.18.1=pypi_0
pysocks=1.7.1=py38h578d9bd_5
python=3.8.0=h357f687_5
python-dateutil=2.8.2=pypi_0
python-flatbuffers=2.0=pyhd8ed1ab_0
python-igraph=0.8.2=pypi_0
python_abi=3.8=2_cp38
pytz=2022.1=pypi_0
pyu2f=0.1.5=pyhd8ed1ab_0
pyyaml=6.0=pypi_0
pyzmq=23.0.0=pypi_0
qtconsole=5.3.0=pypi_0
qtpy=2.1.0=pypi_0
re2=2022.02.01=h9c3ff4c_0
readline=8.1=h46c0cb4_0
regex=2022.10.31=pypi_0
requests=2.27.1=pyhd8ed1ab_0
requests-oauthlib=1.3.1=pyhd8ed1ab_0
rsa=4.8=pyhd8ed1ab_0
scanpy=1.9.3=pypi_0
scikit-learn=1.1.1=pypi_0
scipy=1.8.1=py38h1ee437e_0
seaborn=0.11.2=pypi_0
send2trash=1.8.0=pypi_0
session-info=1.0.0=pypi_0
setuptools=62.3.2=py38h578d9bd_0
six=1.16.0=pyh6c4a22f_0
sklearn=0.0=pypi_0
smart-open=6.0.0=pypi_0
snappy=1.1.9=hbd366e4_1
soupsieve=2.3.2.post1=pypi_0
sqlite=3.38.5=h4ff8645_0
stack-data=0.2.0=pypi_0
statsmodels=0.13.2=pypi_0
stdlib-list=0.8.0=pypi_0
tables=3.8.0=pypi_0
tensorboard=2.8.0=pyhd8ed1ab_1
tensorboard-data-server=0.6.0=py38h2b5fc30_2
tensorboard-plugin-wit=1.8.1=pyhd8ed1ab_0
tensorflow=2.8.0=cuda112py38hded6998_0
tensorflow-addons=0.18.0=pypi_0
tensorflow-base=2.8.0=cuda112py38h6a3b174_0
tensorflow-estimator=2.8.0=cuda112py38hf5dcc89_0
tensorflow-gpu=2.8.0=cuda112py38h0bbbad9_0
tensorflow-probability=0.16.0=pypi_0
termcolor=1.1.0=py_2
terminado=0.15.0=pypi_0
texttable=1.6.7=pypi_0
tf-slim=1.1.0=pypi_0
threadpoolctl=3.1.0=pypi_0
tinycss2=1.1.1=pypi_0
tk=8.6.12=h27826a3_0
torch=1.7.1=pypi_0
tornado=6.1=pypi_0
tqdm=4.64.0=pypi_0
traitlets=5.2.2.post1=pypi_0
typeguard=2.13.3=pypi_0
typing-extensions=4.2.0=hd8ed1ab_1
typing_extensions=4.2.0=pyha770c72_1
umap-learn=0.5.3=pypi_0
urllib3=1.26.9=pyhd8ed1ab_0
wcwidth=0.2.5=pypi_0
webencodings=0.5.1=pypi_0
werkzeug=2.1.2=pyhd8ed1ab_1
wheel=0.37.1=pyhd8ed1ab_0
widgetsnbextension=3.6.0=pypi_0
wrapt=1.14.1=py38h0a891b7_0
xz=5.2.5=h516909a_1
yarl=1.7.2=py38h0a891b7_2
zipp=3.8.0=pyhd8ed1ab_0
zlib=1.2.12=h166bdaf_0
